
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/blogStyle.css' />
    <title>Error</title>
</head>
<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/myblog/main/homepage">Home</a></li>
        <li role="presentation"><a href="/myblog/main/my_blogs">Profile</a></li>
    </ul>
    <h1><%= message %></h1>
    <h2><%= status %></h2>
    <pre><%= stack %></pre>
</body>
</html>
