<!DOCTYPE html>
<html lang="en">
<head>
     <link rel='stylesheet' href='/blogStyle.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" 
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>Home Page</title>
</head>
<body>
    <div class="main-top container-fluid">
            <h2 class="word1">MyBlog</h2>
            <a href="/myblog/main/my_blogs"><h2 class="word2">Home</h2></a>
            <a href="/myblog/main/logout"><h2 class="logout">Logout</h2></a>
    </div>
    <div class ="homepage-content">
        <div class="homepage-quote">
            Blogging is just writing-<br>
            writing is using a<br> particularly efficient type<br> of publishing technology.<br>
            -Simon Dumenco-
        </div>
        <div class="homepage-button">
            <a href="/myblog/main/blogs"><button type="button" class="btn btn-primary">View blogs</button></a>
            <a href="/myblog/main/create_blog"><button type="button" class="btn btn-danger">Create Blog</button></a>
        </div>
    </div>
    

</body>
</html>